<ngx-spinner
    bdColor="transparent"
    size="medium"
    color="#F46316"
    type="timer"
    [fullScreen]="true"
></ngx-spinner>

<div *ngIf="hero$ | async as hero">
    <h2>{{ hero.name | uppercase }} Details</h2>
    <div>
        <span>id:</span>
        {{ hero.id }}
    </div>

    <div>
        <label for="hero-name">Hero name:</label>
        <input
            id="hero-name"
            placeholder="Hero name"
            [(ngModel)]="hero.name"
        />
    </div>

    <button
        type="button"
        (click)="goBack()"
    >
        go back
    </button>
    <button
        type="button"
        [disabled]="disabledSave$ | async"
        (click)="save(hero)"
    >
        save
    </button>

    <!-- Don't repeat, it's just an example -->
    <ng-container *ngIf="saveHero$ | async"></ng-container>
</div>
